<h2 style="display: inline"> Welcome, Shopify</h2><sub>or stranger!</sub>
<br><br>

Check out this project on
<a href="https://github.com/peterzhu2118/shopify-backend-2018">GitHub</a>.
<br><br>

<a class="btn btn-primary btn-block" href="/app">Take me to the app!</a>
