<h2> Welcome, Shopify</h2><sub>or stranger!</sub>

Check out this project on <a href="https://github.com/peterzhu2118/shopify-backend-2018">GitHub</a>.

<a class="btn btn-primary btn-block" href="/app">Take me to the app!</a>
